.contact-container {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    padding: 10vh 0;
    height: 80vh;
}

.contact-left-container {
    margin: auto 0 auto 10vw;
}

.contact-right-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 80vh;
    overflow: hidden;
}

.contact-heading {
    margin-bottom: 1rem;
}

.contact-text {
    text-align: justify;
    margin-bottom: 2rem;
    display: none;
}

.contact-form {
    display: flex;
    justify-content: space-between;
    flex-flow: column nowrap;
    gap: calc(1.5rem + 0.390625vw);
    height: 63vh;
    max-height: 450px;
}

.contact-form-field,
.contact-form-btn {
    flex-basis: 33.33%;
    border-radius: 32px;
    border-style: none;
    max-width: 75%;
    height: calc(50px + 0.390625vh);
}

.contact-form-field {
    padding-left: 20px;
}

.contact-form-msg {
    flex-basis: 75%;
    padding-top: 20px;
}

.contact-form-btn-div {
    flex-basis: 100%;
}

.contact-form-btn {
    max-width: 150px;
    font-weight: bold;
    font-size: 1rem;
    background-color: #1a1919;
    color: white;
}

::placeholder {
    color: black;
    opacity: 1;
    font-family: 'Montserrat';
    font-size: 1rem;
}

.contact-map-div {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 75%;
    overflow: hidden;
    border-radius: 45% 0 0 45%;
}

.contact-map {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 810px) {
    .contact-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        height: auto;
    }

    .contact-left-container {
        margin: 0 15% 5vw 15%;
    }

    .contact-form-field {
        max-width: 100%;
    }

    .contact-right-container {
        align-items: flex-start;
        height: auto;
    }

    .contact-map-div {
        width: 95%;
    }
}

@media screen and (max-width: 450px) {
    .contact-container {
        height: 100vh;
    }

    .contact-right-container {
        height: 45vh;
        align-items: flex-end;
    }
}
