.contact-container {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    padding: 10vh 0;
}

.contact-left-container {
    margin: auto 0 auto 10vw;
}

.contact-right-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.contact-heading {
    margin-bottom: 1rem;
}

.contact-text {
    text-align: justify;
    margin-bottom: 2rem;
    display: none;
}

.contact-form {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
}

.contact-form-field,
.contact-form-btn {
    flex-basis: 100%;
    margin-bottom: 1.5rem;
    border-radius: 32px;
    border-style: none;
    max-width: 500px;
    height: 50px;
}

.contact-form-field {
    padding-left: 20px;
}

.contact-form-msg {
    height: 150px;
    padding-top: 20px;
}

.contact-form-btn-div {
    flex-basis: 100%;
}

.contact-form-btn {
    max-width: 150px;
    font-weight: bold;
    font-size: 1rem;
    background-color: #1a1919;
    color: white;
}

::placeholder {
    color: black;
    opacity: 1;
    font-family: 'Montserrat';
    font-size: 1rem;
}

.contact-map {
    width: 75%;
    position: absolute;
    right: 0;
}

.google-maps {
    border: 0;
}
