.skills-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.heading-container {
    flex-basis: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5em;
}

.hr-skills {
    position: relative;
    width: calc(100% - 270px);
}

.skills-heading {
    margin: 0 50px;
}

.skills-section {
    width: 75%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.skill {
    font-weight: 300;
    border: 0.75px solid black;
    border-radius: 32px;
    height: 30px;
    min-width: 30px;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 25px;
    margin: 0px 10px 30px;
}
