.experience-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10vh 0;
    font-family: 'Montserrat';
}

.about-container,
.job-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 50%;
}

.about-container {
    margin-bottom: 10vh;
}

.about-heading,
.experience-heading {
    margin-bottom: 4vh;
}

.experience-summary {
    margin: 0;
}

.experience-section {
    flex-basis: 100%;
    display: grid;
    justify-items: end;
}

.experience-summary {
    font-family: 'Montserrat';
    display: flex;
    flex-flow: column wrap;
    text-align: center;
}

.experience-heading {
    text-align: center;
    position: relative;
    width: 100%;
}

.horizontal-line {
    border-top: 1px solid black;
    border-bottom: 0;
    width: 30%;
    margin: 0;
    position: absolute;
    right: 0;
    top: 50%;
}

.job-container {
    display: flex;
    align-items: flex-start;
    align-self: flex-end;
    width: 61.5%;
}

.job-title {
    font-weight: 700;
    font-size: 1.25rem;
    color: #be93d4;
}

.job-date {
    font-weight: 600;
    font-size: 1.1rem;
}

.job-summary {
    padding: 15px;
    width: 65%;
}

.job-4 {
    margin-bottom: 0;
    padding-bottom: 0;
}

@media screen and (max-width: 1080px) {
    .about-container {
        width: 75%;
    }

    .experience-summary {
        font-size: 2.5vw;
    }

    .job-container {
        width: 66%;
    }
}

@media screen and (max-width: 811px) {
    .experience-section {
        justify-items: center;
    }

    .horizontal-line {
        display: none;
    }

    .job-container {
        width: 75%;
    }

    .job-summary {
        width: 100%;
    }
}

@media screen and (max-width: 430px) {
    .experience-summary {
        font-size: 4vw;
    }
}

@media screen and (orientation: portrait) {
    .about-heading,
    .experience-heading {
        margin-bottom: 2vh;
    }
}
