.experience-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10vh 0 20vh;
    font-family: 'Montserrat';
}

.about-container,
.job-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 50%;
}

.experience-section {
    flex-basis: 100%;
    display: flex;
    flex-flow: column wrap;
}

.experience-summary {
    font-family: 'Montserrat';
    font-size: 1.25rem;
    display: flex;
    flex-flow: column wrap;
    text-align: center;
}

.experience-heading {
    text-align: center;
    position: relative;
    margin-bottom: 3%;
    margin-top: 5%;
}

.horizontal-line {
    border-top: 1px solid black;
    border-bottom: 0;
    width: 30%;
    margin: 0;
    position: absolute;
    right: 0;
    top: 50%;
}

.job-container {
    display: flex;
    align-items: flex-start;
    align-self: flex-end;
    width: 61%;
}

.job-title {
    font-weight: 700;
    font-size: 1.25rem;
    color: #be93d4;
}

.job-date {
    font-weight: 600;
    font-size: 1.1rem;
}

.job-summary {
    padding: 15px;
    width: 65%;
}
